<div class="about-main">
  <div class="about-1">
    <h2>100%植とは</h2>
      <p>
        使用後燃えるゴミで捨てることができ、
        土に埋めても180日で90%が土に還る。<br>
        100%自然素材で作られたストローです。
        <br><br>
      </p>
  </div>

  <div class="about-2">
    <h2>環境問題 </h2>
      <p>
        従来よりプラスチック製ストローの廃棄は<br>
        問題視されていました。<br>
        マイクロプラスティックは処分されにくく、<br>
        また海などで捨てられたストローが<br>
        環境へ影響を与えています。
      <br><br><br>
    </p>
  </div>

  <div class="about-3">
    <h2>保管期限とは？</h2>
      <p>
        計画的な購入をお勧めしております。<br>
        特殊包装にて密閉されていますが、<br>
        風通しが良く直射日光を避けた場所での<br>
        保管をお願いいたします。<br>
        保管期限が過ぎると当製品は劣化が始まります。<br>
        期限の過ぎたものは廃棄してください。<br><br><br>
     </p>
  </div>

  <div class="about-4">
    <h2>ストローは１回のみ</h2>
      <p>
        紙製のストローなどと比較すれば丈夫ですので、<br>
        綺麗に清掃すれば１日であれば使用できます。<br>
        ですが５０度以上の熱いお飲み物や、想定外の<br>
        使用につきましては補償いたしかねます。<br><br><br>
      </p>
  </div>

  <div class="about-5">
    <h2>ストローの原料について</h2>
      <p>
        天然サトウキビ繊維とポリ乳酸（PLA樹脂）を中心として<br>
        製造されています。焼却した場合、無害なごく僅かな白煙が発生します。<br>
        従来の石油化学プラスティックの成分 5P（PP、PE、PS、PVC、PET）は含まれていません。<br>
        環境に配慮したプラスチック成分ですので、埋設すれば水と二酸化炭素に分解されます。<br><br><br>
    </p>
  </div>

</div>
