
<div class="items-group">
  <div class="items-header">
    <h2>LINE UP</h2>
  </div>
  <div class="items-wrapper">
      <div class="item">
        <div class="item-image">
        </div>
        <div class="item-text">
          最も標準的なセット<br>
          入数:1袋/100本入<br>
        </div>
      </div>
  </div>
</div>
