

<div class="items-header">
  <h2>LINE UP</h2>
</div>

<div class="items-wrapper">
  <% @items.each do |item| %>
    <div class="item-subject">
      <%= link_to(item.subject,'/items') %>
    </div>
    <div class="item-text">
      <%= link_to(item.content,'/items') %>
    </div>
  <% end %>

</div>
